html,
body {
	background-image: url(/images/background.png);
  height: 95%;
  min-width: 400px;
  min-height: 300px;
  margin: 0px;
  padding: 0px;
  color: #000099;
}
#main{
	display: block;
	background-image: url(/../images/background.jpg);
}

#history{
	min-height: 20px;
}

#butStart {
  font-size: 20px;
  color: #000099;
  border: 1px solid #000099;
  outline: 0px;
}
#butStart:hover{
  background: #cccccc
}
#butStart:active{
  color: #000099;
  background: white;
}


#global {
  width: 80%;
  height: 100%;
  margin: 5px;
  margin-left: 8%;
  border: 2px solid #000099;
}
#gamer,#computer {
  width: 48%;
  height: 50%;
  padding-top: 10px;
}
#gamer{
  float: left;
  border-right: 2px solid #000099;
  padding-left: 10px;
  border-radius: 0px;
}
#computer {
  float: right;
	
}

p{
  margin-bottom: 5px;
}
*{
  border-radius: 4px;
}
input[type=text],input[type=button] {
  border: 1px solid #000099;
  font-size: 15px;
  font-family: vergana, sans-serif;
  padding: 5px;
  outline: 0px;
}

